{% extends "layout.html.twig" %}

{% block title %}
	<h1>{{ post.title }}</h1>
	<span class="subheading">{{ post.chapo }}</span>
{% endblock %}

{% block content %}
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<h3 class="section-heading">{{post.title}}</h3>
					<blockquote class="blockquote">{{ post.created_at_fr }}</blockquote>
					<blockquote class="blockquote">{{post.chapo}}</blockquote>
					<p>{{post.content|nl2br}}
						<a href="#!"><img class="img-fluid" src="public/assets/img/post-sample-image.jpg" alt="..."/></a>
						<a href="http://spaceipsum.com/">Space Ipsum</a>
						&middot; Images by
						<a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
					</p>
				</div>

				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>Les commentaires</p>
					{% for comment in comments %}
						<blockquote class="blockquote">{{comment.comment_date}}</blockquote>
						<p>{{comment.comment|nl2br}}</p>
					{% endfor %}
				</div>
				<div class="d-flex justify-content-end mb-4">
					<a class="btn btn-primary text-uppercase" href="index.php?action=deletePost&post_id={{ post.post_id}}">Supprimer</a>
				</div>
			</div>
		</div>
	</article>
{% endblock %}